@reference '@styles/core/tailwind.css';

/* 登录页面容器 */
.login-page {
  @apply relative w-full h-screen overflow-hidden;
  background-color: var(--default-bg-color);
}

/* 居中表单区域 */
.auth-center-wrap {
  @apply absolute inset-0 w-[440px] m-auto
    max-sm:px-7 max-sm:w-full;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    @apply bg-[var(--default-box-color)] rounded-xl border border-[var(--default-border)] shadow-sm;
  }

  .logo-wrap {
    @apply flex justify-center;
  }

  .custom-height {
    @apply !h-[40px];
  }
}
